{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity=
            "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}Idea Board{% endblock %}</title>
    {% block style %}
    {% endblock %}
</head>

<body>
    {% block base_body%}
    <nav class="navbar navbar-expand-lg navbar-primary" style="background-color: #3498DB;">
          <span><img src="{% static 'img/brain_head.jpeg' %}" alt="brain image" style="height: 40px;"class="img-responsive"></span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a  class="nav-link" style="color: black;" href="{% url 'home'  %}">Home</a>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" style="color: black;" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                        Brain Storms
                      </a>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'topic_list'  %}">Topic list</a>
                          <a class="dropdown-item" href="{% url 'topic_form'  %}">Create Topic</a>
                          <a class="dropdown-item" href="{% url 'idea_form'  %}">Contribute Ideas</a>
                          <a class="dropdown-item" href="{% url 'idea_list'  %}">Search Topics</a>
                      </div>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" style="color: black;" href="#" id="dropdownMenuLinkE" data-toggle="dropdown">
                        Evaluations
                      </a>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkE">
                          <a class="dropdown-item" href="{% url 'eval_list'  %}">Evaluation list</a>
                          <a class="dropdown-item" href="{% url 'eval_form'  %}">Create evaluation Topic</a>
                          <a class="dropdown-item" href="{% url 'search_eval'  %}">Search Eval Topics</a>
                      </div>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="{% url 'home'  %}">Evaluations</a>
                </li>-->

            </ul>
          </div>
             <!-- <nav class="navbar navbar-light bg-light">
              <form class="form-inline" action="{% url 'search_eval' %}" method="GET">
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search topics" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="search">Search</button>
              </form>
            </nav>-->
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>


