{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <h3 class="text-info">{{ message }}</h3>
    {% endfor %}
{% endif %}
<div class="container mt-3">
    <div class="row">
        <div class="col text-center mb-3">
            {% for topic in topics %}
                <a class="h1 list-group list-group-item-info" href="{% url 'topic_detail' topic.pk %}">
                    {{topic | title}}</a>
                <ul class="list-group ">{% for idea in topic.topic.all %}
                    <li class="list-group-item">
                        <a href="{% url 'idea_detail' idea.pk %}">{{idea | title}}</a>
                    </li>
                    {% endfor %}</ul>
            <br>
            {% endfor %}
            <br>
            </div>
        </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            <a class="btn btn-info mb-4" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>

{% endblock %}
<!--<br>
        <a href="{% url 'topic_form' %}">Create another topic through form</a>
<br>
        <a href="{% url 'idea_create' %}">Create another idea</a>
<br>-->
